.main {
  position: relative;
  display: inline-block;
  left: 25px;
}

.container-lb {
    
  position: relative;
  display: inline-block;


}

.icon-left-bottom{
position: absolute;
 bottom: 40px;
right: 100px;

}

.blue-box-lb {
  position: absolute;
  top: -25px; /* adjust as needed */
  left: 0px; /* adjust as needed */
  z-index: 1;
  padding-top: 350px;
}

.blue-box-lb h1 {
  position: absolute;
  top: 75%; /* vertical center */
  left: 50%; /* horizontal center */
  transform: translate(-50%, -50%); /* center alignment */
  color: white;
  font-size: 30px;
  text-align: center;
}

.container-lb p {
  position: absolute;
  top: 50px; /* Adjust as needed */
  left: 65px; /* Adjust as needed */
  color: black;
  font-size: 18px;
  max-width: 80%;
  z-index: 2;
}
