.main {
  position: relative;
  display: inline-block;
  left: 25px;
}

.container-lb {
    
  position: relative;
  display: inline-block;
  margin: 50px;
  padding-left: 25px;
  padding-top: 25px;
}

.icon-left-bottom{
position: absolute;
 bottom: 120px;
right: 120px;
}

.blue-box-lb {
  position: absolute;
  top: 70px; /* adjust as needed */
  left: 45px; /* adjust as needed */
  z-index: 1;
  padding-top: 350px;
}

.blue-box-lb h1 {
  position: absolute;

  top: 75%; /* vertical center */
  left: 50%; /* horizontal center */
  transform: translate(-50%, -50%); /* center alignment */
  color: white;
  font-size: 30px;
  text-align: center;
}

.container-lb p {
  position: absolute;
  top: 100px; /* Adjust as needed */
  left: 65px; /* Adjust as needed */
  color: black;
  font-size: 21px;
  max-width: 80%;
  z-index: 2;
}
