.main {
  position: relative;
  display: inline-block;
  left: 25px;
}

.container-rb {
    
  position: relative;
  display: inline-block;
  /* margin: 50px;
  padding-left: 25px; */
  padding-top: 25px;
}

.icon-bottom{
  position: absolute;
  bottom: 120px;
  left: 120px;
}

.blue-box-rb {
  position: absolute;
  top: 20px; /* adjust as needed */
  right: 15px; /* adjust as needed */
  z-index: 1;
  padding-top: 350px;
}

.blue-box-rb h1 {
  position: absolute;

  top: 75%; /* vertical center */
  left: 50%; /* horizontal center */
  transform: translate(-50%, -50%); /* center alignment */
  color: white;
  font-size: 30px;
  text-align: center;
}

.container-rb p {
  position: absolute;
  top: 75px;
  right: 25px; /* Adjust as needed */
  color: black;
  font-size: 21px;
  max-width: 80%;
  z-index: 2;
}
